In [1]:
import pandas as pd

ACCESOS

1

In [2]:
accesos_tecnologia_localidad = pd.read_csv('datasets/accesos/AccesosaInternetfijoportecnologiaylocalidad_2791751681933670581.csv')
accesos_tecnologia_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3142 non-null   object
 1   Partido        3142 non-null   object
 2   Localidad      3142 non-null   object
 3   Link Indec     3142 non-null   object
 4   ADSL           3142 non-null   object
 5   CABLEMODEM     3142 non-null   object
 6   DIAL UP        3142 non-null   object
 7   FIBRA OPTICA   3142 non-null   object
 8   OTROS          3142 non-null   object
 9   SATELITAL      3142 non-null   object
 10  WIMAX          3142 non-null   object
 11  WIRELESS       3142 non-null   object
 12  Total general  3142 non-null   object
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(1), object(13)
memory usage: 343.8+ KB

In [16]:
accesos_tecnologia_localidad.tail(10)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
3132,TUCUMAN,Tafí del Valle,Tafí del Valle,90098040,168,- 0,- 0,- 0,1,1,- 0,35,205,NaN
3133,TUCUMAN,Tafí Viejo,Barrio Lomas de Tafí,90105020,349,- 0,- 0,- 0,- 0,- 0,- 0,- 0,349,NaN
3134,TUCUMAN,Tafí Viejo,Barrio Mutual San Martín,90105030,23,- 0,- 0,- 0,- 0,- 0,- 0,- 0,23,NaN
3135,TUCUMAN,Tafí Viejo,Tafí Viejo,90105080,5.620,622,- 0,6.901,11,- 0,- 0,6,13.160,NaN
3136,TUCUMAN,Tafí Viejo,Diagonal Norte - Luz y Fuerza - Los Pocitos - ...,90105060,- 0,- 0,- 0,281,- 0,- 0,- 0,- 0,281,NaN
3137,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,- 0,1,- 0,471,- 0,- 0,- 0,- 0,472,NaN
3138,TUCUMAN,Trancas,San Pedro de Colalao,90112020,- 0,- 0,- 0,- 0,- 0,- 0,- 0,313,313,NaN
3139,TUCUMAN,Trancas,Villa de Trancas,90112030,150,- 0,- 0,- 0,33,- 0,- 0,99,282,NaN
3140,TUCUMAN,Yerba Buena,Villa Carmela,90119020,1.725,- 0,- 0,- 0,1,- 0,- 0,97,1.823,NaN
3141,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,203,- 0,15.511,33,- 0,- 0,- 0,15.876,NaN

In [19]:
accesos_tecnologia_localidad.isnull().sum()

Provincia           0
Partido             0
Localidad           0
Link Indec          0
ADSL                0
CABLEMODEM          0
DIAL UP             0
FIBRA OPTICA        0
OTROS               0
SATELITAL           0
WIMAX               0
WIRELESS            0
Total general       0
Unnamed: 13      3142
dtype: int64

2

In [3]:
accesos_velocidad_provincia = pd.read_csv('datasets/accesos/AccesosaInternetfijoporvelocidadbajadayprovincia_2791741681933466315.csv')
accesos_velocidad_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         480 non-null    float64
 1   Trimestre   480 non-null    float64
 2   Provincia   480 non-null    object
 3   Otros       480 non-null    object
 4   0,256 Mbps  480 non-null    object
 5   0,375 Mbps  480 non-null    object
 6   0,625 Mbps  480 non-null    object
 7   0,5 Mbps    480 non-null    object
 8   0,512 Mbps  480 non-null    object
 9   0,75 Mbps   480 non-null    object
 10  1 Mbps      480 non-null    object
 11  1,2 Mbps    480 non-null    object
 12  1,25 Mbps   480 non-null    object
 13  1,5 Mbps    480 non-null    object
 14  2 Mbps      480 non-null    object
 15  2,2 Mbps    480 non-null    object
 16  2,5 Mbps    481 non-null    object
 17  6,7 Mbps    480 non-null    object
 18  3 Mbps      480 non-null    object
 19  3,2 Mbps    480 non-null    object
 20  3,3 Mbps    480 non-null    object
 21  3,5 Mbps    480 non-null    object
 22  4 Mbps      480 non-null    object
 23  4,5 Mbps    480 non-null    object
 24  5 Mbps      480 non-null    object
 25  6 Mbps      480 non-null    object
 26  6,4 Mbps    480 non-null    object
 27  7 Mbps      480 non-null    object
 28  7,5 Mbps    480 non-null    object
 29  8 Mbps      480 non-null    object
 30  9 Mbps      480 non-null    object
 31  10 Mbps     480 non-null    object
 32  10,6 Mbps   480 non-null    object
 33  11 Mbps     480 non-null    object
 34  12 Mbps     480 non-null    object
 35  13 Mbps     480 non-null    object
 36  14 Mbps     480 non-null    object
 37  15 Mbps     480 non-null    object
 38  16 Mbps     480 non-null    object
 39  17 Mbps     480 non-null    object
 40  18 Mbps     480 non-null    object
 41  19 Mbps     480 non-null    object
 42  20 Mbps     480 non-null    object
 43  21 Mbps     480 non-null    object
 44  22 Mbps     480 non-null    object
 45  23 Mbps     480 non-null    object
 46  24 Mbps     480 non-null    object
 47  25 Mbps     480 non-null    object
 48  25,1 Mbps   480 non-null    object
 49  25,11 Mbps  480 non-null    object
 50  25,5 Mbps   480 non-null    object
 51  26 Mbps     480 non-null    object
 52  28 Mbps     480 non-null    object
 53  29 Mbps     480 non-null    object
 54  30 Mbps     480 non-null    object
 55  31 Mbps     480 non-null    object
 56  32 Mbps     480 non-null    object
 57  34 Mbps     480 non-null    object
 58  35 Mbps     480 non-null    object
 59  36 Mbps     480 non-null    object
 60  37 Mbps     480 non-null    object
 61  38 Mbps     480 non-null    object
 62  39 Mbps     480 non-null    object
 63  40 Mbps     480 non-null    object
 64  41 Mbps     480 non-null    object
 65  45 Mbps     480 non-null    object
 66  46 Mbps     480 non-null    object
 67  47 Mbps     480 non-null    object
 68  48 Mbps     480 non-null    object
 69  49 Mbps     480 non-null    object
 70  50 Mbps     480 non-null    object
 71  51 Mbps     480 non-null    object
 72  52 Mbps     480 non-null    object
 73  54 Mbps     480 non-null    object
 74  55 Mbps     480 non-null    object
 75  56 Mbps     480 non-null    object
 76  58 Mbps     480 non-null    object
 77  59 Mbps     480 non-null    object
 78  60 Mbps     480 non-null    object
 79  61 Mbps     480 non-null    object
 80  62 Mbps     480 non-null    object
 81  63 Mbps     480 non-null    object
 82  64 Mbps     480 non-null    object
 83  65 Mbps     480 non-null    object
 84  66 Mbps     480 non-null    object
 85  67 Mbps     480 non-null    object
 86  68 Mbps     480 non-null    object
 87  70 Mbps     480 non-null    object
 88  71 Mbps     480 non-null    object
 89  75 Mbps     480 non-null    object
 90  77 Mbps     480 non-null    object
 91  78 Mbps     480 non-null    object
 92  80 Mbps     480 non-null    object
 93  81 Mbps     480 non-null    object
 94  83 Mbps     480 non-null    object
 95  82 Mbps     480 non-null    object
 96  86 Mbps     480 non-null    object
dtypes: float64(2), object(95)
memory usage: 364.6+ KB

In [25]:
accesos_velocidad_provincia.head(10)

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022.0,3.0,Buenos Aires,"65,821",19,- 0,- 0,"29,774",192,"4,611",...,"3,163",- 0,"98,387",- 0,2,223,- 0,1,- 0,- 0
1,2022.0,3.0,Capital Federal,"105,477",31,- 0,- 0,451,35,"1,307",...,3,- 0,"30,482",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022.0,3.0,Catamarca,"2,208",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,3.0,Chaco,"3,711",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,3.0,Chubut,"20,024",8,- 0,- 0,69,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
5,2022.0,3.0,Córdoba,"13,873",2,- 0,- 0,87,10,83,...,2,- 0,12,- 0,- 0,- 0,- 0,- 0,- 0,- 0
6,2022.0,3.0,Corrientes,"7,107",- 0,- 0,- 0,10,57,118,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
7,2022.0,3.0,Entre Ríos,"16,759",1,- 0,- 0,20,86,113,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
8,2022.0,3.0,Formosa,589,- 0,- 0,- 0,49,48,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
9,2022.0,3.0,Jujuy,- 0,- 0,- 0,- 0,26,32,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,1,- 0

In [26]:
accesos_velocidad_provincia.isnull().sum()

Año           1
Trimestre     1
Provincia     1
Otros         1
0,256 Mbps    1
             ..
80 Mbps       1
81 Mbps       1
83 Mbps       1
82 Mbps       1
86 Mbps       1
Length: 97, dtype: int64

3

In [4]:
accesos_velocidad_localidad = pd.read_csv('datasets/accesos/AccesosaInternetfijoporvelocidaddebajadaylocalidad_2776171681933661402.csv')
accesos_velocidad_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3098 entries, 0 to 3097
Data columns (total 83 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Provincia    2067 non-null   object
 1   Partido      2060 non-null   object
 2   Unnamed: 2   2069 non-null   object
 3   Unnamed: 3   2071 non-null   object
 4   Otros        614 non-null    object
 5   0,256 mbps   21 non-null     float64
 6   Unnamed: 6   1 non-null      float64
 7   Unnamed: 7   420 non-null    object
 8   0,512 mbps   350 non-null    float64
 9   0,625 mbps   1 non-null      float64
 10  0,75 mbps    192 non-null    object
 11  1 mbps       615 non-null    object
 12  Unnamed: 12  1 non-null      float64
 13  Unnamed: 13  12 non-null     object
 14  2 mbps       499 non-null    object
 15  2,2 mbps     1 non-null      float64
 16  Unnamed: 16  1 non-null      float64
 17  Unnamed: 17  947 non-null    object
 18  3,3 mbps     0 non-null      float64
 19  3,5 mbps     250 non-null    object
 20  4 mbps       358 non-null    object
 21  4,5 mbps     1 non-null      float64
 22  Unnamed: 22  698 non-null    object
 23  Unnamed: 23  950 non-null    object
 24  6,4 mbps     1 non-null      float64
 25  7 mbps       146 non-null    object
 26  Unnamed: 26  2 non-null      float64
 27  Unnamed: 27  416 non-null    object
 28  9 mbps       37 non-null     object
 29  10 mbps      1120 non-null   object
 30  Unnamed: 30  22 non-null     float64
 31  12 mbps      345 non-null    object
 32  13 mbps      9 non-null      float64
 33  14 mbps      11 non-null     float64
 34  Unnamed: 34  686 non-null    object
 35  16 mbps      11 non-null     float64
 36  17 mbps      0 non-null      float64
 37  18 mbps      166 non-null    object
 38  Unnamed: 38  0 non-null      float64
 39  20 mbps      703 non-null    object
 40  21 mbps      2 non-null      float64
 41  Unnamed: 41  1 non-null      float64
 42  23 mbps      2 non-null      float64
 43  24 mbps      9 non-null      object
 44  25 mbps      385 non-null    object
 45  Unnamed: 45  1 non-null      float64
 46  25,11 mbps   0 non-null      float64
 47  25,5 mbps    0 non-null      float64
 48  26 mbps      1 non-null      float64
 49  Unnamed: 49  463 non-null    object
 50  31 mbps      3 non-null      float64
 51  32 mbps      2 non-null      float64
 52  Unnamed: 52  0 non-null      float64
 53  35 mbps      9 non-null      float64
 54  36 mbps      2 non-null      float64
 55  38 mbps      0 non-null      float64
 56  Unnamed: 56  1 non-null      float64
 57  40 mbps      63 non-null     object
 58  41 mbps      0 non-null      float64
 59  45 mbps      2 non-null      float64
 60  46 mbps      1 non-null      float64
 61  49 mbps      0 non-null      float64
 62  50 mbps      424 non-null    object
 63  Unnamed: 63  2 non-null      float64
 64  58 mbps      1 non-null      float64
 65  59 mbps      0 non-null      float64
 66  60 mbps      177 non-null    object
 67  Unnamed: 67  1 non-null      float64
 68  62 mbps      0 non-null      float64
 69  64 mbps      0 non-null      float64
 70  Unnamed: 70  1 non-null      float64
 71  66 mbps      0 non-null      float64
 72  70 mbps      8 non-null      float64
 73  75 mbps      149 non-null    object
 74  Unnamed: 74  1 non-null      float64
 75  80 mbps      7 non-null      float64
 76  82 mbps      1 non-null      float64
 77  83 mbps      1 non-null      float64
 78  Unnamed: 78  0 non-null      float64
 79  90 mbps      2 non-null      float64
 80  92 mbps      2 non-null      float64
 81  Unnamed: 81  1 non-null      float64
 82  100 mbps     369 non-null    object
dtypes: float64(52), object(31)
memory usage: 2.0+ MB

In [5]:
historico_velocidad_internet = pd.read_csv('datasets/accesos/historico_velocidad_internet.csv')
historico_velocidad_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     object
 3   Trimestre.1             35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

3

In [6]:
accesos_tecnologia =pd.read_csv ('datasets/accesos/Internet_Accesos-por-tecnologia.csv')
accesos_tecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     object
 3   Cablemodem    35 non-null     object
 4   Fibra óptica  35 non-null     object
 5   Wireless      35 non-null     float64
 6   Otros         35 non-null     float64
 7   Total         35 non-null     object
 8   Periodo       35 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.6+ KB

In [17]:
accesos_tecnologia.head(10)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022
2,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
3,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
4,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021
5,2021,2,2.018.587,5.641.731,1.472.246,476.968,253.552,9.863.084,Abr-Jun 2021
6,2021,1,2.175.211,5.424.782,1.362.976,434.548,250.455,9.647.972,Ene-Mar 2021
7,2020,4,2.213.949,5.371.824,1.311.199,421.554,253.036,9.571.562,Oct-Dic 2020
8,2020,3,2.263.889,5.259.351,1.170.879,413.259,248.821,9.356.199,Jul-Sept 2020
9,2020,2,2.295.533,5.005.115,1.106.725,376.667,247.016,9.031.056,Abr-Jun 2020

In [18]:
accesos_tecnologia.isnull().sum()

Año             0
Trimestre       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
Total           0
Periodo         0
dtype: int64

In [7]:
accesos_velocidad =pd.read_csv ('datasets/accesos/Internet_Accesos-por-velocidad.csv')
accesos_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      35 non-null     int64
 1   Trimestre                35 non-null     int64
 2   Hasta 512 kbps           35 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  35 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    35 non-null     object
 5   Entre 6 Mbps y 10 Mbps   35 non-null     object
 6   Entre 10 Mbps y 20 Mbps  35 non-null     object
 7   Entre 20 Mbps y 30 Mbps  35 non-null     object
 8   Más de 30 Mbps           35 non-null     object
 9   OTROS                    35 non-null     float64
 10  Total                    35 non-null     object
 11  Unnamed: 11              0 non-null      float64
dtypes: float64(4), int64(2), object(6)
memory usage: 3.4+ KB

In [8]:
accesos_bandaancha_bandaangosta =pd.read_csv ('datasets/accesos/Internet_BAF.csv')
accesos_bandaancha_bandaangosta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     int64
 1   Trimestre         35 non-null     int64
 2   Banda ancha fija  35 non-null     object
 3   Dial up           35 non-null     float64
 4   Total             35 non-null     object
 5   Periodo           35 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.8+ KB

In [27]:
accesos_bandaancha_bandaangosta.head(10)

    Año  Trimestre Banda ancha fija  Dial up       Total        Periodo
0  2022          3       11.078.691   12.437  11.091.128  Jul-Sept 2022
1  2022          2       10.946.248   12.436  10.958.684   Abr-Jun 2022
2  2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022
3  2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021
4  2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021
5  2021          2        9.852.702   10.382   9.863.084   Abr-Jun 2021
6  2021          1        9.637.956   10.016   9.647.972   Ene-Mar 2021
7  2020          4        9.561.546   10.016   9.571.562   Oct-Dic 2020
8  2020          3        9.346.183   10.016   9.356.199  Jul-Sept 2020
9  2020          2        9.021.040   10.016   9.031.056   Abr-Jun 2020

In [28]:
accesos_bandaancha_bandaangosta.isnull().sum()

Año                 0
Trimestre           0
Banda ancha fija    0
Dial up             0
Total               0
Periodo             0
dtype: int64

CONECTIVIDAD

In [9]:
conectividad_servicio_internet =pd.read_csv ('datasets/conectividad/ConectividadalserviciodeInternet_2776151681933683561.csv')
conectividad_servicio_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7   FIBRAOPTICA    4312 non-null   object
 8   SATELITAL      4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11  3G             4312 non-null   object
 12  4G             4312 non-null   object
 13  link           4300 non-null   float64
 14  Latitud        4312 non-null   object
 15  Longitud       4312 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 539.1+ KB

In [10]:
conectividad_servicio_internet.head()

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,SI,6056020.0,"-38,6472605094596","-62,3200223419024"
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,--,6056020.0,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,SI,6063010.0,"-37,8482779294345","-58,2551665841248"
3,BUENOS AIRES,Balcarce,Los Pinos,337,--,--,--,--,--,SI,SI,--,--,6063020.0,"-37,9412057603","-58,3225920150442"
4,BUENOS AIRES,Balcarce,Napaleofú,374,--,--,--,SI,--,SI,SI,SI,SI,6063030.0,"-37,6254980210026","-58,7461862359423"

2

In [11]:
localidades_conectividad_internet=pd.read_csv ('datasets/conectividad/Listadodelocalidadesconconectividadainternet_2750221681933676985.csv')
localidades_conectividad_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   ADSL           4312 non-null   object
 4   CABLEMODEM     4312 non-null   object
 5   DIALUP         4312 non-null   object
 6   FIBRAOPTICA    4312 non-null   object
 7   4G             4312 non-null   object
 8   3G             4312 non-null   object
 9   TELEFONIAFIJA  4312 non-null   object
 10  WIRELESS       4312 non-null   object
 11  SATELITAL      4312 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

In [22]:
localidades_conectividad_internet.tail(10)

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
4302,CHACO,Mayor Luis J. Fontana,Villa Angela,SI,SI,--,SI,SI,SI,SI,SI,--
4303,CHACO,O Higgins,La Clotilde,--,--,--,--,SI,--,--,--,--
4304,CHACO,O Higgins,La Tigra,--,--,--,--,SI,--,--,--,--
4305,CHACO,O Higgins,San Bernardo,--,--,--,--,SI,SI,--,--,--
4306,CHACO,Presidencia de la Plaza,Presidencia de la Plaza,SI,SI,--,SI,SI,SI,SI,SI,--
4307,CHACO,Quitilipi,Quitilipi,SI,--,--,SI,SI,SI,SI,SI,--
4308,CHACO,Quitilipi,Villa El Palmar,--,--,--,--,SI,--,--,SI,--
4309,CHACO,San Fernando,Barranqueras,SI,SI,--,SI,SI,SI,SI,SI,--
4310,CHACO,San Fernando,Basail,SI,SI,--,--,SI,SI,SI,SI,SI
4311,CHACO,San Fernando,Colonia Baranda,--,--,--,--,SI,SI,--,--,--

In [21]:
localidades_conectividad_internet.isnull().sum()

Provincia        0
Partido          0
Localidad        0
ADSL             0
CABLEMODEM       0
DIALUP           0
FIBRAOPTICA      0
4G               0
3G               0
TELEFONIAFIJA    0
WIRELESS         0
SATELITAL        0
dtype: int64

INGRESOS

In [12]:
internet_ingresos=pd.read_csv ('datasets/ingresos/Internet_Ingresos.csv')
internet_ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
 3   Periodo                    35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [29]:
internet_ingresos.head(10)

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022
3  2021          4                45.467.887   Oct-Dic 2021
4  2021          3                42.999.944  Jul-Sept 2021
5  2021          2                38.239.667   Abr-Jun 2021
6  2021          1                36.676.371   Ene-Mar 2021
7  2020          4                33.539.703   Oct-Dic 2020
8  2020          3                31.997.445  Jul-Sept 2020
9  2020          2                32.102.476   Abr-Jun 2020

PENETRACION

In [13]:
internet_penetracion=pd.read_csv ('datasets/penetracion/Internet_Penetracion.csv')
internet_penetracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

In [23]:
internet_penetracion.head(10)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78,11
1  2022          3  Capital Federal                       122,28
2  2022          3        Catamarca                        65,33
3  2022          3            Chaco                        43,86
4  2022          3           Chubut                        84,38
5  2022          3          Córdoba                        88,31
6  2022          3       Corrientes                        48,21
7  2022          3       Entre Ríos                        63,67
8  2022          3          Formosa                        43,76
9  2022          3            Jujuy                        58,91

In [24]:
internet_penetracion.isnull().sum()

Año                             0
Trimestre                       0
Provincia                       0
Accesos por cada 100 hogares    0
dtype: int64

VELOCIDAD

In [14]:
historico_velocidad_internet=pd.read_csv ('datasets/velocidad/historico_velocidad_internet.csv')
historico_velocidad_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     object
 3   Trimestre.1             35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB